
// 폼 입력 서식
.formControl{
  position: relative;

  &__input{
    width:100%;
    height: 48px;
    border:1px solid $boder-default;
    padding:14px;
  }

  &__button{
    width:100%;
    height: 56px;
    color:$text-dark;
    background:$primary;
    padding:0;
    border:0;
    font-weight:bold;
  }
  
}


// 커스텀 체크박스
.customCheckbox{
  appearance: none; //포커스링(키보드 이동시) 잡힘
  position:absolute;
  top:-1px;
  width:24px;
  height:24px;
  // opacity:0; // 포커스링(키보드 이동시) 안 잡힘

  &Label{
  @include flexbox($align:center);
  min-height: 28px;
  padding-left: 28px;
  background:url(../images/unchecked.svg) no-repeat 0 0 / 24px 24px;
  }

  &:checked + &Label{
    background-image: url(../images/checked.svg);
  }
}
 


.errorMessage{
  display: none;
  font-size:rem(12px);
  line-height:1.5; // number 단위 쓰는 것을 권장
  letter-spacing: -0.1em;
  color: $warning;
}

.is--invalid .errorMessage{
  display: block;
}



