.container{
  @include mobile{
    padding-top:rem(25px);
    @include paddingX(16px); // rem(16px) <- rem 함수 호출 
  }

  @include desktop{
    padding-top: rem(50px);
  }
}

// 로고
.logo{
  @include autoMargin; // 데스크탑과 모바일 공통 내용(항상 먼저)

  @include mobile{
    width:51.25%;   // ctrl+p -> >math (연산)
    min-width:164px;
    max-width:230px;
    @include MarginY(45px);
  }

  @include desktop{
    width:230px;
    height:44px;
    margin-top:100px;
    margin-bottom:50px;
    @include MarginY(50px);
  }
  
  &__link { 
    display:block;

    &:focus{
      outline-offset:10px;
    }
  }
}

// 로그인 폼
.loginForm__container{
  @include flexbox(column);

  @include desktop{
    @include boxFixed(600px)
  }
  
  .errorMessage{
    margin-top:8px;
  }

  }

.userPassword{
  margin-top:10px;
}
  
.userSelectInfo{
  order:1;
  margin-top:10px;
  @include flexbox($align:center);
  @include mobile{
    justify-content: flex-end;
  }
}

.loginState{
  @include desktop{
    margin-right: auto;
    // flex-grow: 1; //flex-item 때문에 glow 사용 가능, 링크일 때 늘려서 사용 많이 함
  }
}

.ipSecurityLink{
  margin-right: 8px;
  @include mobile{
    display: none;
  }
}

.ipSecurity{
  
  @include mobile{
    display: none;
  }


// 일반 스위치 컴포넌트
&__checkbox{
  -webkit-appearance: none;
  appearance: none;
  position:absolute;
}

&__label{
  position: relative;
  display:block;
  width:44px;
  height:24px; 
  background:$silver;
  border-radius:22px; // border-radius : 10px 10px 15px 15px(x축) / 50px 50px 20px 20px (y축) -> 늘어날 계획(최대치)이 있으면 더 큰 수치를 주어서 안전하게
  padding:0 4px;
}

&__label::before{
  background:$white;
  position: absolute;
  content: "";
  width:18px;
  height:18px; 
  top:50%;
  transform: translateY(-50%);
  border-radius:50%;
  transition: all 0.3s;
}

// 체크박스가 선택되어 있을 때

  &__checkbox:checked + &__label{
  background:$primary;
  }

  &__checkbox:checked + &__label::before{
    transform: translate(100%, -50%);
 }

}

 // ON/OFF 텍스트 스위치 컴포넌트

//     &__checkbox:checked + &__label::before{
//       content: "ON";
//       color:$primary;
//     }
  
//     &__label::before{
//       display:inline-block;
//       width:2em; // 현재 글자 x 3배 영역
//       text-align:right;
//       content: "OFF";
//       color:$secondary;
//       font-weight:700;
//     }



.loginButton{
  margin-top:20px;
}



